{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div>
  <h3 class="text-center">Hosts: {{ context['hosts'][0] }} & {{ context['hosts'][1] }}</h3>
	{% for category in context['categories'] %}
  <div class='winners-container'>
    <div class='winners-content'>
    	<h3>{{ category['category'] }}</h3>
      {% if category['presenters'] %}
      <h4>PRESENTER: {{ category['presenters'][0]['name'] }}</h4>
      {% endif %}
    	<h4>WINNER: {{ category['nominees'][0]['name'] }}</h4>
    	<h4>SCORE: {{ category['nominees'][0]['score'] }}</h4>
    </div>
    <div class='winners-expandable'>
      {% for nominee in category['nominees'][1:] %}
        <div class='winners-losers'>
          <h5> {{ nominee['name']}} </h5>
          <h5> Score: {{ nominee['score'] }} </h5>
        </div>
      {% endfor %}
    </div>
  </div>
	{% endfor %}
</div>

{% endblock %}
